* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@font-face {
    font-family: "My Font";
    src: url(fonts/Backslash-RpJol.otf);
}
body {
    background-image: url("slike/fitnes.jpg");
    background-position: center;
    background-attachment: fixed;
}

header {
    background-color: rgba(255, 218, 6, 0.418);
    padding: 15px;
    overflow: hidden;
    border: 2px solid rgba(255, 218, 6, 0.418);
    border-radius: 35px;
    margin: 10px;
}
h1 {
    font-family: "My Font";
    text-align: left;
    font-size: 50px;
    display: inline-block;
    width: 68%;
    color: lemonchiffon;
    text-shadow: 5px 5px 5px rgb(41, 39, 39);
}

#date {
    display: inline-block;
    width: 18%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: lemonchiffon;
    background-color: rgba(255, 68, 0, 0.599);
    border: 1px solid rgba(255, 68, 0, 0.599);
    border-bottom: 3px solid rgba(116, 33, 3, 0.599);
    border-right: 3px solid rgba(116, 33, 3, 0.599);
    border-radius: 35px;
    padding: 10px;
    text-shadow: 5px 5px 5px rgb(41, 39, 39);
    box-shadow: 6px 5px 5px rgb(41, 39, 39);
}

#clock {
    display: inline-block;
    width: 11%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: lemonchiffon;
    background-color: rgba(255, 68, 0, 0.599);
    border: 1px solid rgba(255, 68, 0, 0.599);
    border-bottom: 3px solid rgba(116, 33, 3, 0.599);
    border-right: 3px solid rgba(116, 33, 3, 0.599);
    border-radius: 35px;
    padding: 10px;
    text-shadow: 5px 5px 5px rgb(41, 39, 39);
    box-shadow: 6px 5px 5px rgb(41, 39, 39);
}

.prvi {
    float: left;
    width: 46%;
    height: 763px;
    overflow: hidden;
    background-color: rgba(103, 104, 103, 0.466);
    margin: 35px;
    padding: 20px;
    border-radius: 20px;
}
.drugi {
    float: left;
    width: 46%;
    height: 763px;
    overflow: hidden;
    margin: 35px;
    padding: 20px;
    background-color: rgba(103, 104, 103, 0.466);;
    border-radius: 20px;
}

.innerDivs1 {
    border-radius: 20px;
    height: 250px;
}
.innerDivs2 {
    border-radius: 20px;
    padding: 20px;
    height: 490px;
    overflow: auto;
}
h2 {
    text-align: center;
    padding: 10px;
    color: lemonchiffon;
    font-size: 30px;
    text-shadow: 5px 5px 5px rgb(41, 39, 39);
}
#container {
    height: 550px;
    overflow: auto;
}
ul {
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
}
ul li {
    list-style-image: url("slike/running.png");
    padding: 5px;
    margin: 8px;
    background-image: linear-gradient(to right, rgb(133, 11, 11),rgb(253, 114, 0),yellow,rgb(255, 102, 0),rgb(211, 113, 134), rgb(56, 34, 97));
    font-size: 20px;
    font-style: italic;
    box-shadow: 5px 5px 5px rgb(41, 39, 39);
}
ul li.hint {
    background-image: linear-gradient(red, yellow);
}
ul li.active {
    background-image: linear-gradient(to right, rgb(133, 11, 11),rgb(253, 114, 0),yellow,rgb(255, 102, 0),rgb(211, 113, 134), rgb(56, 34, 97));
}
ul li:hover {
    background-image: linear-gradient(to right, rgba(133, 11, 11, 0.596),rgb(253, 114, 0, 0.596),yellow,rgb(255, 102, 0, 0.596),rgb(211, 113, 134, 0.596), rgb(56, 34, 97, 0.596));
}
#tekstPolje {
    background-color: lemonchiffon;
    border-radius: 1em;
    padding: 10px;
    width: 50%;
    margin-top: 15px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 15px;
    font-size: 20px;
    box-shadow: 5px 5px 5px rgb(41, 39, 39);
}
.radios {
    font-size: 20px;
    font-weight: bold;
    text-shadow: 5px 5px 5px rgb(41, 39, 39);
    margin-top: 10px;
    margin-left: 25%;
    margin-right: 25%;
}
#btnContainer {
    padding: 10px;
}
#btn1 {
    padding: 10px;
    width: 25%;
    margin-left: 4%;
    margin-right: 4%;
    border-radius: 15px;
    background-image: radial-gradient(rgb(245, 222, 14), red);
    font-size: 20px;
    box-shadow: 5px 5px 5px rgb(41, 39, 39);
}
#btn2 {
    padding: 10px;
    width: 24%;
    margin-left: 4%;
    margin-right: 4%;
    border-radius: 15px;
    background-image: radial-gradient(rgb(245, 222, 14), red);
    font-size: 20px;
    box-shadow: 5px 5px 5px rgb(41, 39, 39);
}
#btn3 {
    padding: 10px;
    width: 24%;
    margin-left: 4%;
    margin-right: 4%;
    border-radius: 15px;
    background-image: radial-gradient(rgb(245, 222, 14), red);
    font-size: 20px;
    box-shadow: 5px 5px 5px rgb(41, 39, 39);
}
#brojPolje {
    background-color: lemonchiffon;
    border-radius: 1em;
    padding: 10px;
    width: 50%;
    margin-top: 10px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 25px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    box-shadow: 5px 5px 5px rgb(41, 39, 39);
}
.dugmad {
    width: 32%;
    padding: 15px;
    font-size: 20px;
    background-image: radial-gradient(rgb(245, 222, 14), red);
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgb(41, 39, 39);
}

table {
    margin-top: 15px;
    width: 100%;
    overflow: hidden;
    height: 320px;
    border-bottom: 7px solid rgba(109, 45, 3, 0.534);
    border-right: 7px solid rgba(109, 45, 3, 0.534);
    border-radius: 1em;
    background-color: rgba(251, 255, 0, 0.534);
    table-layout: fixed;
    box-shadow: 10px 8px 5px rgb(41, 39, 39);
}
table tr:nth-child(1) {
    background-color: rgba(255, 102, 0, 0.534);
    
}
table th {
    padding: 5px;
    text-align: center;
    color: lemonchiffon;
    border-bottom: 1px solid black;
}
table th:nth-child(8) {
    border-right: none;
}
table td {
    text-align: center;
    font-weight: bold;
    white-space: normal;
    padding: 5px;  
    border-top: 1px solid black;
    border-right: 1px solid black;
}
table td:hover {
    background-color: rgba(255, 250, 205, 0.753);
}
table td:nth-child(1) {
    background-color: rgba(255, 102, 0, 0.534);
    color: rgba(255, 250, 205, 0.527);
}
table td:nth-child(2) {
    background-color: rgba(211, 113, 134, 0.582);
    border: 1px solid rgb(2, 1, 1);
    border-bottom: none;
}
table td:nth-child(2):hover {
    background-color: rgba(148, 81, 96, 0.74);
}
table td:nth-child(3), td:nth-child(3), td:nth-child(4), td:nth-child(5), td:nth-child(6), td:nth-child(7) {
    border: 1px solid rgb(2, 1, 1);
    border-bottom: none;
}
table td:nth-child(8) {
    background-color: rgba(211, 113, 134, 0.582);
    border: 1px solid rgb(2, 1, 1);
    border-bottom: none;
    border-right: none;
}
table td:nth-child(8):hover {
    background-color: rgba(148, 81, 96, 0.74);
}
#sacuvaj {
    padding: 10px;
    width: 15%;
    border-radius: 20px;
    background-image: radial-gradient(rgb(245, 222, 14), red);
    font-size: 15px;
    box-shadow: 5px 5px 5px rgb(41, 39, 39);
}

@media only screen and (max-width: 1900px) {
    .prvi {
        float: left;
        width: 43%;
        height: 763px;
        overflow: hidden;
        background-color: rgba(103, 104, 103, 0.466);
        margin: 35px;
        padding: 20px;
        border-radius: 20px;
    }
    .drugi {
        float: left;
        width: 43%;
        height: 763px;
        overflow: hidden;
        margin: 35px;
        padding: 20px;
        background-color: rgba(103, 104, 103, 0.466);;
        border-radius: 20px;
    }
    .dugmad {
        width: 30%;
        padding: 15px;
        font-size: 15px;
        background-image: radial-gradient(rgb(245, 222, 14), red);
        border-radius: 15px;
        box-shadow: 5px 5px 5px rgb(41, 39, 39);
    }
    #sacuvaj {
        padding: 10px;
        width: 20%;
        border-radius: 20px;
        background-image: radial-gradient(rgb(245, 222, 14), red);
        font-size: 15px;
        box-shadow: 5px 5px 5px rgb(41, 39, 39);
    }
}
